.hidden {
  display: none !important;
}

.navbar-mobile {
  display: none;
  position: absolute;
  right: 0;
  top: 8rem;
  padding: 3rem 0 3rem 2rem;
  background-color: #0d0d11;
  width: 25rem;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  gap: 3rem;
}

.navbar-mobile-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-mobile .separator {
  width: 100%;
  background-color: #fff;
  height: 1px;
}
