.gameSaves {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h1 {
    margin-top: 10px;
    font-size: 5rem;
    color: var(--primary)
}

.save-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 20px;
}