header {
    height: 50px;
    padding: 0 10px;
    background-color: #292E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
.logo {
    width: 92px; height: 35px;
}