.nav-btns-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  right: 3%;
  height: 100vh;
  gap: 15px;
  padding-top: 2.1rem;
  transition: ease 200ms;
}

.nav-btns-input {
  opacity: 0;
  display: none;
}

.nav-btns-span {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #666;
  border-radius: 100%;
  display: block;
  background-color: #666;
  cursor: pointer;
  transition: ease 250ms;
}

.nav-btns-span:hover {
  background-color: #868585;
  transform: scale(1.1);
}
