.nav-btns-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 42%;
  right: 3%;
  gap: 15px;
  transition: ease 200ms;
}

.nav-btns-input {
  opacity: 0;
  display: none;
}

.nav-btns-span {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #666;
  border-radius: 100%;
  display: block;
  background-color: #666;
  cursor: pointer;
  transition: ease 250ms;
}

.nav-btns-span:hover {
  background-color: #868585;
  transform: scale(1.1);
}

/* import styled from 'styled-components'

export const Container = styled.div`
    
`;

export const NavButtonInput = styled.input`
    
`;

export const NavButtonSpan = styled.span`
    
    &:hover {
        background-color: #868585;
        transform: scale(1.1);
    }
    &:after{
        background-color: red;
    }
`; */
