nav {
  height: 4.6rem;
  padding: 0 24rem;
  background-color: #0d0d11;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  font-family: "Basis Grotesque Pro", sans-serif;
  z-index: 999;
  position: fixed;
  width: 100%;
}

.nav-link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  transition: 300ms ease;
  font-weight: 300;
}

.nav-link:hover {
  color: #fff;
}

.separator {
  border-left: 1px solid #fff;
}

.logo {
  width: 125px;
  height: 42px;
  background-image: url("../../assets/images/logo.svg");
  background-repeat: no-repeat;
  align-self: center;
  justify-self: center;
}

.navbar-buttons {
  display: flex;
  justify-content: center;
  gap: 9.3rem;
}

.nav-mobile-btn {
  background-color: transparent;
  border: none;
  display: none;
}

.nav-mobile-btn-icon {
  opacity: 0.6;
  transition: 0.3s all;
}

.active-icon {
  opacity: 1;
  transform: rotate(180deg);
}

.router-link {
  text-decoration: none;
}
