.timeline-container {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  position: relative;
}

.timeline-container::after {
  background-color: rgba(255, 255, 255, 0.6);
  content: "";
  position: absolute;
  width: 2px;
  left: 2.5rem;
  /* top: 50px; TODO подергать */
  height: 100%; /* calc(100% - 150px); TODO подергать */
}

@media (min-width: 34em) {
  .timeline-container::after {
    left: calc(50% - 2px);
    /* top: 50px; TODO подергать */
    height: 100%; /* calc(100% - 150px); TODO подергать */
  }
}
