.save-card {
  display: grid;
  column-gap: 5rem;
  justify-items: center;
  grid-template-columns: 2fr 3fr;
  height: 100vh;
  align-items: center;
}

.imgs-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 2.5rem;
  max-width: 93.9rem;
}

.save-card .text-box {
  margin-bottom: 0;
  align-items: flex-start;
}

.inverted {
  grid-template-columns: 3fr 2fr;
}

.inverted .text-box {
  grid-column: 2;
}

.inverted .imgs-box {
  grid-row: 1;
  grid-column: 0;
}

.save-img {
  width: 100%;
  border-radius: 20px;
  filter: drop-shadow(0px 7px 15px rgba(0, 0, 0, 0.3));
}

.primary-img {
  grid-column: 1 / 4;
  width: 100%;
}

.secondary-img {
  width: 100%;
}

.save-title {
  color: #fff;
  font-size: 6.8rem;
  font-weight: 900;
  margin-bottom: 4rem;
}

.info-box {
  display: flex;
  align-items: center;

  gap: 4rem;
  margin-bottom: 6.8rem;
}

.info-box .separator {
  height: 4.3rem;
  border-left: 1px solid #fff;
}

.info-item {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
}

.info-item span {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}

.download-icon {
  opacity: 0.6;
  transition: all 0.3s ease;
}

.download-btn:link,
.download-btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 18rem;
  height: 7.4rem;
  gap: 2rem;
  /* padding: 2rem 3rem; */
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-weight: 300;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: all 0.3s;
}

.download-btn:hover,
.download-btn:active {
  color: #fff;
  border-color: #fff;
}

.download-btn:hover .download-icon,
.download-btn:active .download-icon {
  opacity: 1;
}
