.gauntlet-card {
  background-color: #17171d;
  border-radius: 20px;
  max-height: 46.7rem;
  overflow: hidden;
  padding: 2rem;
  width: 43.6rem;
  position: relative;
}

.gauntlet-card-heading {
  font-size: 5rem;
  font-weight: 900;
  overflow-y: hidden;
}

.gauntlet-card-games-list-item {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.gauntlet-card-games-list-item-name {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.6);
  width: 21.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 6px;
}

.gauntlet-card-heading-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.gauntlet-card-open-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.gauntlet-card-games-list-item-index {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.6);
  min-width: 3.4rem;
}

.games-count-container {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.games-count-item {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.gauntlet-card-games-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.game-status-wrapper {
  width: 10.8rem;
}

.gradient-container {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(23, 23, 29, 0) 5.87%,
    #17171d 83.53%
  );
  height: 14.2rem;
  width: 100%;
  left: 0;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
