.section-locked {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  align-items: center;
  justify-items: center;
}

.section-locked .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16rem;
}

.section-locked .img-box img {
  width: 45%;
}

.heading {
  font-size: 7.5rem;
  font-weight: 900;
}

.info-text {
  font-size: 2rem;
  opacity: 0.6;
}

.locked-info-text {
  height: 8rem;
}
