.section-home {
  height: 100%;
  width: 100%;
  padding: 10% 0;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-box {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.text-box-inner {
  width: 40rem;
  text-align: left;
}

.img-box img {
  margin-left: 20rem;
  width: 100%;
}

.heading {
  font-size: 7.5rem;
  font-weight: 900;
}

.info-text {
  font-size: 2rem;
  opacity: 0.6;
  height: 15rem;
  max-width: 40rem;
  overflow: hidden;
}

.hero-btn {
  margin-top: 16px;
  width: 27rem;
  height: 7.5rem;
  background-color: transparent;
  font-size: 2rem !important;
  margin-top: 55px;
  font-weight: 300;
  outline: none;
  border-style: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  font-size: 20px;
  padding: 7px;
  cursor: pointer;
  transition: 200ms ease;
}

.hero-btn:hover {
  color: #fff;
  border-color: #fff;
}
