* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
#root,
.app {
  height: 100%;
  overflow: auto;
  font-family: "Basis Grotesque Pro";
  font-size: 62.5%;
}

body {
  height: 100%;
  background-image: url("./assets/images/background.png");
  background-size: cover;
}
.app {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.25rem;
}
::-webkit-scrollbar-track {
  background-color: rgb(97, 97, 97);
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

.timeline-item-title {
  color: #aaa;
}

.css-13k9u7t-TimelineItemContentWrapper {
  min-height: 90px !important;
}

.css-mb4vrd-TimelineContentDetailsWrapper {
  margin: 0 !important;
}

.ant-dropdown .ant-dropdown-menu,
.ant-dropdown-menu-submenu .ant-dropdown-menu {
  background-color: #202027;
  padding: 1.3rem 2.6rem;
  font-family: "Basis Grotesque Pro";
  border-radius: 20px;
  margin-top: 11px;
}

.ant-dropdown-menu .ant-dropdown-menu-item {
  width: 14rem;
  padding: 0.7rem 0;
}

.comment-textarea::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.ant-modal-wrap {
  backdrop-filter: blur(2px);
  background-color: rgba(10, 10, 10, 0.6);
}

.comment-textarea {
  color: rgba(255, 255, 255, 0.6) !important;
  background-color: #202027 !important;
}
