@media (max-width: 97em) {
  html {
    font-size: 59%;
  }
}

@media (max-width: 84em) {
  html {
    font-size: 56.25%;
  }

  .quotes-page {
    padding: 11rem 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quotes-page .img-box {
    display: none;
  }

  .section-timeline {
    padding-top: 6.5rem;
  }

  .timeline-item-content {
    width: 75%;
  }

  .save-title {
    font-size: 6rem;
  }
}
