@media (max-width: 106em) {
  .quotes-wheel {
    display: none;
  }
}

@media (max-width: 97em) {
  html {
    font-size: 59%;
  }
}

@media (max-width: 84em) {
  html {
    font-size: 56.25%;
  }

  .quotes-page {
    padding: 11rem 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quotes-page .img-box {
    display: none;
  }

  .section-timeline {
    padding-top: 6.5rem;
  }

  .timeline-item-content {
    width: 75%;
  }

  .save-title {
    font-size: 6rem;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 54%;
  }

  .save-card {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    gap: 3rem;
    margin-bottom: 10rem;
  }

  .section-saves {
    padding: 10rem;
  }

  .save-card .text-box {
    align-self: flex-start;
  }

  .save-card.inverted {
    flex-direction: column-reverse;
  }

  .secondary-img {
    display: none;
  }

  .nav-btns-container {
    display: none;
  }

  .info-box {
    margin-bottom: 5.6rem;
  }

  .bottom-nav-container {
    display: none;
  }

  nav {
    padding: 0 5rem !important;
  }

  .navbar-buttons {
    display: none !important;
  }

  .nav-desktop-login-container {
    display: none;
  }

  .nav-mobile-btn {
    display: block !important;
  }

  .quotes-page {
    padding: 13rem 4rem;
  }

  .quote-container {
    padding: 2rem 4rem;
  }

  .section-home {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10rem 4rem;
    justify-content: center;
  }

  .section-locked {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20rem 4rem;
  }

  .img-box img {
    width: 100%;
    margin-left: 0;
  }

  .section-locked .img-box img {
    width: 80%;
    margin-left: 0;
  }

  .section-home .text-box {
    align-self: flex-start;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 50%;
  }

  .save-title {
    font-size: 5.4rem;
    margin-left: 1rem;
  }

  .section-saves {
    padding: 12rem 4rem;
  }

  .info-box {
    align-self: center;
    margin-bottom: 5rem;
  }

  .text-box,
  .download-btn {
    width: 100% !important;
  }

  .download-icon {
    display: none;
  }

  .section-home {
    justify-content: space-around;
  }

  .section-home .text-box {
    margin-bottom: 0;
  }

  .quotes-page {
    padding: 11rem 3rem;
  }

  .quote-container {
    padding: 2rem 3rem;
  }

  nav {
    padding: 0 2.5rem !important;
  }

  .info-text {
    height: 10rem;
  }

  .login-btn {
    margin-top: 0;
  }

  .section-locked {
    padding-top: 13rem;
  }
}
