@media (max-width: 97em) {
  html {
    font-size: 59%;
  }
}

@media (max-width: 84em) {
  html {
    font-size: 56.25%;
  }

  .quotes-page {
    padding: 11rem 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quotes-page .img-box {
    display: none;
  }

  .section-timeline {
    padding-top: 6.5rem;
  }

  .timeline-item-content {
    width: 75%;
  }

  .save-title {
    font-size: 6rem;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 54%;
  }

  .save-card {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    gap: 3rem;
    margin-bottom: 10rem;
  }

  .section-saves {
    padding: 10rem;
  }

  .save-card .text-box {
    align-self: flex-start;
  }

  .save-card.inverted {
    flex-direction: column-reverse;
  }

  .secondary-img {
    display: none;
  }

  .nav-btns-container {
    display: none;
  }

  .info-box {
    margin-bottom: 5.6rem;
  }

  .bottom-nav-container {
    display: none;
  }

  nav {
    padding: 0 5rem !important;
  }

  .navbar-buttons {
    display: none !important;
  }

  .nav-desktop-login-container {
    display: none;
  }

  .nav-mobile-btn {
    display: block !important;
  }

  .quotes-page {
    padding: 13rem 4rem;
  }

  .quote-container {
    padding: 2rem 4rem;
  }
}
