.quotes-page {
  padding: 13rem 24rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.quotes-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  z-index: 100;
}

.quotes-wheel {
  width: 64%;
  position: fixed;
  right: -634px;
  top: -100px;
  fill: hsl(350deg, 30%, 50%);
  animation-name: rotate;
  animation-duration: 140s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
